<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/abhinamnahipata.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <title>sasta Visual Studio</title>
  </head>
  <body>
    <div id="main">
      <div id="left">
        <div id="uploads">
          <h3>uploads</h3>
          <div id="icons">
            <i id="newfilei" class="ri-file-add-line"></i>
            <i class="ri-folder-3-fill"></i>
            <a href="/refresh"><i class="ri-refresh-line"></i></a>
          </div>
        </div>
        <form id="newfile" autocomplete="off" action="/newfile">
          <input
            id="nfinput"
            name="filename"
            type="text"
            placeholder="New file"
          />
        </form>
        <div id="files">
          <div id="file">
            <% files.forEach(function(filename){ %>
            <div id="flex">
              <a href="/files/<%=filename%>"
                ><h4
                  id="<%= filename.split('.')[1] === 'html' ? 'blue' : filename.split('.')[1] === 'css' ?  'red' : 'default' %>"
                >
                  <i class="ri-arrow-right-s-line"></i><%= filename%>
                </h4></a
              ><a id="vcenter" href="/delete/<%= filename%>"
                ><i class="ri-delete-bin-line"></i
              ></a>
            </div>
            <% }) %>
          </div>
        </div>
      </div>
      <div id="right">
        <div id="rnav">
          <div id="nfilename">
            <h3>
              <%=filename%> <a href="/"><i class="ri-close-line"></i></a>
            </h3>
          </div>
        </div>
        <form id="textform" action="/filedata/<%=filename%>">
          <textarea name="filedata" id="writetext"><%= truck %></textarea>
          <input id="textsubmit" type="submit" value="save" name="button" />
        </form>
        <form id="terminal" action="/compilecode/<%=filename%>">
          <textarea name="code" id="dispnone"><%= truck %></textarea>
          <textarea name="terminaloutput" id="terminaloutput"><%= output %></textarea>
          <input id="run" type="submit" value="run" name="button" />
        </form>
      </div>
    </div>
    <script src="/js/abhi.js"></script>
  </body>
</html>
